
<h3 xmlns="http://www.w3.org/1999/html">
    MSL's DVM Evidence Search Application
</h3>
<!-- Search functionality -->
<div class="row">
    <form ng-submit="getById(search)" ng-controller="SearchController as searchControl1" class="container-fluid">
    <div class="col-lg-9">
        <div class="form-group mb-xl">
            <input type="text" ng-model="search.SearchText" placeholder="Search primary studies, secondary studies, systematic reviews etc." class="form-control mb" />
            <div class="clearfix">
                <button type="button" ng-click="getById(search)" class="pull-left btn btn-default">Search</button>
                <button type="button" ng-click="reloadPage()" class="pull-left btn btn-default">Refresh</button>
            </div>
        </div>

        <div class="container-fluid">
            <div>
                <h3 class="m0 pb-lg">Filters</h3>
                <div class="form-group mb-xl">

                    <form method="get" class="form-horizontal">
                        <div class="col-sm-4">
                        <label class="control-label mb">By Type of Study</label><br>
                        <select multiple chosen="" ng-model="search.typeOfStudy" ng-options="s for s in searchControl1.typeOfStudies" width="'100%'" class="chosen-select form-control">
                            <option value=""></option>
                        </select>
                        </div>
                        <div class="col-sm-4">
                        <label class="control-label mb">By Species</label>
                        <select multiple  chosen="" ng-model="search.typeOfSpecies" ng-options="s for s in searchControl1.typeOfSpecies" width="'100%'" class="chosen-select form-control">
                            <option value=""></option>
                        </select>
                        </div>
                        <div class="col-sm-4">
                        <label class="control-label mb">By Speciality</label>
                        <select multiple chosen="" ng-model="search.typeofspeciality" ng-options="s for s in searchControl1.typeofspeciality" width="'100%'" class="chosen-select form-control">
                            <option value=""></option>
                        </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br>
        Search results count: {{searchDataValues.length}} | Filtered By Study Type: {{search.typeOfStudy}} , By Species Type: {{search.typeOfSpecies}}, By Speciality Type: {{search.typeofspeciality}}

        <br><br>
        <!-- START panel-->
        <div class="panel panel-default">
            <div class="panel-heading">Search Results
                <paneltool tool-refresh="traditional"><A HREF="javascript:history.go(0)"></A></paneltool>
            </div>
            <!-- START table-responsive-->
            <!-- START table-responsive-->
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" >
                    <thead>
                    <tr>
                        <th>View</th>
                        <th ng-click="sort(primary_title)">Title <span class="glyphicon sort-icon" ng-show="sortKey==primary_title" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                        <th ng-click="sort(primary_authors)">Primary Authors <span class="glyphicon sort-icon" ng-show="sortKey==primary_authors" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                        <th ng-click="sort(pub_year)">Publication Date <span class="glyphicon sort-icon" ng-show="sortKey==pub_year" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                        <th ng-click="sort(study_type)">Study Type <span class="glyphicon sort-icon" ng-show="sortKey==study_type" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="data in searchDataValues.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | orderBy:sortKey:reverse">
                        <td ng-click="open(data)">
                            <!--MODAL WINDOW-->

                            <script type="text/ng-template" id="myModalContent.html">
                                <div class="modal-header">
                                    <h3>Title: <br />{{ customer.primary_title }}</h3>
                                </div>
                                <div class="modal-body">
                                   Primary Authors: {{ customer.primary_authors }}<br />
                                   Species Type: {{ customer.species_type }}<br />
                                   Study Type: {{ customer.study_type }}<br />
                                   Publication Year: {{ customer.pub_year }}<br />
                                   Journal Name: {{ customer.journal_name }}<br />

                                </div>
                                <div class="modal-footer">

                                </div>
                            </script>
                        </td>
                        <td><a title="login screen" href="#/page/studydetails"  target="_blank">{{ data.primary_title }}</a></td>
                        <td>{{ data.primary_authors }}</td>
                        <td>{{ data.pub_year }}</td>
                        <td>{{ data.study_type }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- END table-responsive-->
            <div class="panel-footer">
                <div class="row">
                    <div class="col-lg-8"></div>
                    <div class="col-lg-4 text-right">
                        <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></pagination>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>
