<h3 xmlns="http://www.w3.org/1999/html">
    <!-- START Language list-->
    <div class="pull-right">
        <div dropdown="" is-open="language.listIsOpen" class="btn-group">
            <button type="button" dropdown-toggle="" class="btn btn-default">{{language.selected}}
                <span class="caret"></span>
            </button>
            <ul role="menu" class="dropdown-menu dropdown-menu-right animated fadeInUpShort">
                <li ng-repeat="(localeId, langName) in language.available"><a ng-click="language.set(localeId, $event)">{{langName}}</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- END Language list    -->
    MSL's DVM Evidence Search Application
</h3>

<!-- Search functionality -->
<div class="row">
    <form ng-submit="getById(search)" ng-controller="SearchController as searchControl1" class="container-fluid">
    <div class="col-lg-9">
        <div class="form-group mb-xl">
            <input type="text" ng-model="search.SearchText" placeholder="Search primary studies, secondary studies, systematic reviews etc." class="form-control mb" />
            <div class="clearfix">
                <button type="button" ng-click="getById(search)" class="pull-left btn btn-default">Search</button>
                <button type="button" ng-click="reloadPage()" class="pull-left btn btn-default">Refresh</button>
            </div>
        </div>
        Search results count: {{searchControl1.searchDataValues.length}}
        <br><br>
        <!-- START panel-->
        <div class="panel panel-default">
            <div class="panel-heading">Search Results
                <paneltool tool-refresh="traditional"><A HREF="javascript:history.go(0)"></A></paneltool>
            </div>
            <!-- START table-responsive-->
            <!-- START table-responsive-->
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" >
                    <thead>
                    <tr>
                        <th>View</th>
                        <th>Primary Title</th>
                        <th>Primary Authors</th>
                        <th>Publication Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="data in searchControl1.searchDataValues | orderBy:'primary_title'">
                        <td ng-click="openModal(data)">
                            <div class="media-box-body">
                                <!--<div class="pull-right btn btn-info btn-sm" id="show">View</div>-->
                                <button id="{{'object-' + $index }}">Show Dialog</button>
                                <dialog id="modal">
                                    <p>Hi, I'm a modal!</p>
                                    <button id="{{'object1-' + $index }}">Okay</button>
                                </dialog>
                                <script>
                                    var modal = document.getElementById('modal');
                                    var showBtn = document.getElementById("{{'object-' + $index }}");
                                    var closeBtn = document.getElementById("{{'object1-' + $index }}");

                                    // Setup an event listener for the show button.
                                    if (showBtn){
                                        showBtn.addEventListener('click', function(e) {
                                            e.preventDefault();

                                            // Show the modal.
                                            modal.showModal();
                                        });
                                    }

                                    // Setup an event listener for the close button.
                                    if (closeBtn){
                                        closeBtn.addEventListener('click', function(e) {
                                            e.preventDefault();

                                            // Close the modal.
                                            modal.close();
                                        });
                                    }

                                </script>
                            </div>
                        </td>
                        <td>{{ data.primary_title }}</td>
                        <td>{{ data.primary_authors }}</td>
                        <td>{{ data.pub_year }}</td>
                    </tr>
                    </tbody>
                </table>

            </div>

            <!-- END table-responsive-->
            <div class="panel-footer">
                <div class="row">
                    <div class="col-lg-2">
                        <button class="btn btn-sm btn-default">Clear</button>
                    </div>
                    <div class="col-lg-8"></div>
                    <div class="col-lg-2 text-right">
                        <ul class="pagination pagination-sm">
                            <li class="active"><a href="#">1</a>
                            </li>
                            <li><a href="#">2</a>
                            </li>
                            <li><a href="#">3</a>
                            </li>
                            <li><a href="#">»</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
    <div class="container-fluid">
        <div class="col-lg-3">
            <h3 class="m0 pb-lg">Filters</h3>
            <div class="form-group mb-xl">

                <form method="get" ng-controller="SearchController as form" class="form-horizontal">
                    <label class="control-label mb">By Type of Study</label><br>


                    <select multiple chosen="" ng-model="search.typeOfStudy" ng-options="s for s in form.typeOfStudies" width="'100%'" class="chosen-select form-control">
                        <option value=""></option>
                    </select>

                    <label class="control-label mb">By Species</label>
                    <select multiple  chosen="" ng-model="search.typeOfSpecies" ng-options="s for s in form.typeOfSpecies" width="'100%'" class="chosen-select form-control">
                            <option value=""></option>
                    </select>

                    <label class="control-label mb">By Speciality</label>
                    <select multiple chosen="" ng-model="search.typeofspeciality" ng-options="s for s in form.typeofspeciality" width="'100%'" class="chosen-select form-control">
                            <option value=""></option>
                    </select>
                </form>
            </div>
        </div>
    </div>
</div>
